name: CoinList PRE-TGE Scanner

on:
  schedule:
    - cron: "0 */6 * * *"  # toutes les 6 heures
  workflow_dispatch:       # permet de lancer manuellement

jobs:
  scan:
    runs-on: ubuntu-latest
    env:
      COINLIST_API_KEY: ${{ secrets.48c7cd96-b940-4f13-bde7-dfb0b03f22d8
 }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run scanner
        run: python scanner.py

