name: CoinList PRE-TGE Scanner

on:
  schedule:
    - cron: "0 */6 * * *"  # toutes les 6 heures
  workflow_dispatch:       # permet de lancer manuellement

jobs:
  scan:
    runs-on: ubuntu-latest
    env:
      COINLIST_API_KEY: ${{ secrets.GrokZYzazJ0du8QOZdcw5kD6cc0I8kP43eYd3dSAHVd+fdGXKoEgI9auYCekFIDDC8FIL8PAvMqsM9Ndk7kIlw==
 }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run scanner
        run: python scanner.py

